@import '~antd/dist/antd.css';

.App {
  text-align: center;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

#container
{
  width: 100vw;
  height:100vh;
  scroll-behavior:smooth;
  overflow-y: scroll;
  background-color: #fff;
}
#container div#Home{
  position: relative;
  transform: rotateY(-50%);
}
#container div#Tea{
  position: relative;
  transform: rotateY(-50%);
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.column .image:hover  img{
  width: 50%;
  height: 50%;
  transition: transform .3s ease-in;
  transform: scale(1.1);
}

body ::-webkit-scrollbar-track{
  background: transparent;
  border-radius: 0;
}
